/* Julie's CSS Test */

body {
		font: 16px 'raleway', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-text-size-adjust: 100%;
}

body h1 {
	font-weight: bolder;
	font-kerning: normal;
}


body h2 {
	font-size: 2rem;
}

body h3 {font-size: 1.5rem;}

hr.hrfade {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

.image45 {
	width: 45%;
	max-width: 600px;
	max-height: 600px;
	height: auto;
	border-style: outset;
	border-color: #222222;
	border-width: 2px;
	margin: -15px 0;
}

.image70 {
	width: 70%;
	max-width: 1200px;
	max-height: 1200px;
	height: auto;
	border-style: outset;
	border-color: #222222;
	border-width: 2px;
	margin: -15px 0;
}

.image90 {
	width: 90%;
	max-width: 1600px;
	max-height: 1600px;
	height: auto;
	border-style: outset;
	border-color: #222222;
	border-width: 2px;
}

.image100 {
	width: 100%;
	max-width: 1800px;
	max-height: 1800px;
	height: auto;
	border-style: outset;
	border-color: #222222;
	border-width: 2px;
}

div.desc {
  	padding: 15px;
  	text-align: center;
} 

/*to allow images to display next to each other*/
div.compare {
	display: flex;
	flex-wrap: wrap;
	flex-basis: row;
	align-items: center;
	justify-content: space-around;
}

/*for each image when you want just two images side by side*/
div.compareimage {
	width: 45%;
	margin-right: 15px;
	margin-left: 15px;
}

/*class for all screen shots from mobile phones (not tablets)*/
img.mobile {
	width: 290px;
	margin: -15px 15px 0px 15px;
	height: auto;
	border-style: outset;
	border-color: #222222;
	border-width: 2px;
}

/*to create mobile callout section*/
div.mobile{
	background-color: #cc5d31;
	color: #ffffff;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
}

 /*for image at head of each mobile callout section
 add div around image with this class*/
div.mobilecalloutimg {
	float: left;
	margin-left: -15px;
	margin-top: -63px;
	padding-right: 20px;
	width: 100px;
}

div.video {
	text-align: center;
	margin: auto;
}


